<div class='events-header' style='background-image: url(<%= header_background_image_url %>)'>
  <h2>Create Ticket Type for Event "<%= @event.name %>"</h2>
</div>

  <div class="container">
    <div class="row">
      <table class="table">
        <th> Current Ticket Type</th>
        <th> Unit Price</th>
        <th> Quantity</th>

        <% @event.ticket_types.each do |type| %>
          <tr>
            <td> <%= type.name %> </td>
            <td> <%= number_to_currency(type.price, unit: 'VND ', precision: 0) %> </td>
            <td> <%= type.max_quantity %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="row">
       <h2>New Ticket Type</h2>
        <%= form_for [@event, TicketType.new] do |f| %>
            <div class="form-group" >
              <%= f.label 'name' %>
              <%= f.text_field 'name', class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label 'price' %>
              <%= f.text_field 'price', class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label 'max_quantity' %>
              <%= f.text_field 'max_quantity', class: 'form-control' %>
            </div>
            <div class="form-group" >
              <%= f.submit 'Create', class: 'btn btn-info'%>
            </div>
        <% end %>
    </div>
  </div>
