<!DOCTYPE html>
<html>
<head>
  <title>Coder Ticket App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= flash_messages %>
  <% if flash.any? %>
      <%= flash_messages %>
   <% end %>
  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <a class="navbar-brand" href="<%= root_path %>">Coder Ticket</a>
    <ul class="nav navbar-nav">
      <% if current_user %>
          <!-- <li class="nav-item"><%= link_to "Profile", user_path(current_user), class: "nav-link" %></li> -->
          <div class= "nav-item btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Events
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="<%= new_event_path %>">New Event</a>
              <a class="dropdown-item" href="#">Show Events</a>
            </div>
          </div>

            <div class="nav-item btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Venue
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="<%= new_event_path %>">New Venue</a>
                <a class="dropdown-item" href="#">Show Venue</a>
              </div>
            </div>
          <li class="nav-item"><span class="nav-link" style="color:white">Welcome back, <%= current_user.name %></span></li>
          <li class="nav-item"><%= link_to "Log Out", logout_path, method: 'delete', class: "btn btn-secondary" %></li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", login_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </nav>


<%= yield %>

</body>
</html>
